<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Student Grade Tracker</title>
    <link href="/static/styles1.css" rel="stylesheet">
</head>
<body>
    <h1>Administrator Dashboard</h1>
    <a href="/add_user">Add New User</a>
    <a href="/add_grade">Add Grades</a>
    <a href="/all_students">See All Students</a>
    <a href="/api/logs">View Logs</a>
    <a href="/logout">Logout</a>
</body>
</html> 
