<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='bek.png')}}">
    <title>See all students</title>
    <link href="/static/styles1.css" rel="stylesheet">
</head>
<body>
    <h1>All students</h1>
    <form action="/api/all_students" method="post">
        {% for student in users %}
        <div class="grades-container">
        <p>Student ID:{{student.id}}</p>
        <p>Username:{{student.username}}</p>
        <p>Password:{{student.password}}</p>
        <hr>
        </div>
        {% endfor %}
    </body>
</form>
</html>

